<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manu Website</title>
    <link rel="stylesheet" href="../css/lightbox.css">
    <link rel="stylesheet" href="../css/style.css">

    
</head>
<body>
    <header>
        <h1>Manu website</h1>
        <nav class="nav-links">
            <a href="../index.html">Inicio</a>
            <a href="galeria.html">Galería</a>
            <a href="presupuesto.html">Presupuesto</a>
            <a href="contacto.html">Contacto</a>
    </header>        

    <main>
    <h2>Productos</h2>
    
    <!-- Esto es la galería lightbox-->
    <div>
    <a href="../assets/images/dog-8593014_640.jpg" data-lightbox="image-1" data-title="Perro entre las flores" class="image">
        <img class="image" src="../assets/images/dog-8593014_640.jpg" alt="Perrito" width="180px" height="180px"></a>

    <a href="../assets/images/bird-8424336_640.jpg" data-lightbox="image-2" data-title="Pajarito en un árbol" class="image">
        <img class="image" src="../assets/images/bird-8424336_640.jpg" alt="Pajarito" width="180px" height="180px"></a>

    <a href="../assets/images/helado_chocolate.jpg" data-lightbox="image-3" data-title="Helado de chocolate" class="image">
        <img class="image" src="../assets/images/helado_chocolate.jpg" alt="helado de chocolate" width="180px" height="180px"></a>

    <a href="../assets/images/motorcycle-8192323_640.jpg" data-lightbox="image-4" data-title="Moto" class="image">
        <img class="image" src="../assets/images/motorcycle-8192323_640.jpg" alt="Moto" width="180px" height="180px"></a>   
    </div>    
    
    <!--Esto es el carusel-->    
    
    <div>
    <a href="../assets/images/bird-8424336_640.jpg" data-lightbox="galeria" data-title="Pajarito en un árbol" class="image">
        <img class="image" src="../assets/images/bird-8424336_640.jpg" alt="Pajarito" width="180px" height="180px"></a>

    <a href="../assets/images/helado_fresa.jpg" data-lightbox="galeria" data-title="Helado de fresa" class="image">
        <img class="image" src="../assets/images/helado_fresa.jpg" alt="Perrito" width="180px" height="180px"></a>

    <a href="../assets/images/motorcycle-8192323_640.jpg" data-lightbox="galeria" data-title="Qué moto" class="image">
        <img class="image" src="../assets/images/motorcycle-8192323_640.jpg" alt="Moto" width="180px" height="180px"></a>

    <a href="../assets/images/helado_vainilla.jpg" data-lightbox="galeria" data-title="Helado de vainilla" class="image">
        <img class="image" src="../assets/images/helado_vainilla.jpg" alt="Pajarito" width="180px" height="180px"><a>    
    </div>

    </main>

    <footer>    
        <a href="https://www.instagram.com/"><img src="../assets/images/logo_instagram.jpg" alt="logo instagram"></a>
        <a href="https://www.tiktok.com"><img src="../assets/images/logo_tiktok.jpg" alt="logo tiktok"></a>
        <a href="https://www.facebook.com"><img src="../assets/images/logo_facebook.jpg" alt="logo facebook"></a>
         || Web Manuel || Examen Javascript || Todos los derechos reservados ||<br><br>
         Carrer del Ceramista Godofredo Buenosaires, 15, 12005 Castelló de la Plana, Castelló
    </footer>
    <script src="../js/lightbox-plus-jquery.js"></script>
    
</body>
</html>